{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gesund sein, gesund bleiben.">
    <title>BRA Events</title>

    <!-- Meta -->
    <meta property="og:site_name" content="Brighter Vodka">
    <meta property="og:title" content="Brighter Vodka" />
    <meta property="og:description" content="Brighter Vodka" />
    <meta property="og:image" itemprop="image" content="">
    <meta property="og:type" content="website" />
    <meta property="og:updated_time" content="{% now 'U' %}" />

    <!-- Import CSS Files -->
    <link href="{% static '/app/css/Bootstrap/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static '/app/css/index.css' %}?version=1.0.3">

    {% block css %}
    {% endblock %}
</head>

<body>

    <!-- NAVBAR -->
    <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
                </li>
                <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            </div>
        </div>
    </nav> -->

    {% block content %}
    {% endblock %}


    <!-- Cookie Banner -->
    
    <!-- SCRIPTS -->
    <script src="{% static 'app/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'app/js/popper.min.js' %}"></script>
    <script src="{% static '/app/js/Bootstrap/bootstrap.min.js' %}"></script>
    
    {% block scripts %}
    {% endblock %}

</body>

</html>