{% extends "app/base.html" %}

{% load static %}

{% block content %}

<!-- CONTENT -->

<div class="main">
    <img src="{% static '/app/img/bg.jpg' %}" alt="">
    <h1>Coming soon</h1>
    <div style="display: flex;">
        <h2>Contact for inquiries:&nbsp;&nbsp;</h2>
        <a href="mailto:info@brighter-vodka.com">info@brighter-vodka.com</a>
    </div>
</div>
<a class="imprint-button" style="font-size: 18px;" href="{% url 'imprint' %}">Impressum</a>

{% endblock %}

{% block scripts %}

{% endblock %}