body {
    margin: 0;
    background-color: black;
}

h1, h2, h3, p, a {
    font-family: AgencyFB;
    color: white;
    margin: 0;
}
.event-card {
    /* position: relative; */
    width: 100%;
    aspect-ratio: 16/9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 250ms ease-in-out;
}
.event-link:hover .event-card {
    filter: blur(1px) brightness(0.6);
}
.event-link:hover img {
    opacity: 1;
    top: 50%;
}
.event-link img {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    opacity: 0;
    transition: all 250ms ease-in-out;
}
.card-1 {
    background-image: url(../img/homerun.jpg);
}
.card-2 {
    background-image: url(../img/seeliebe.jpg);
}
@media only screen and (max-width:1199px) {
    a.event-link img {
        top: 50%;
        opacity: 1;
    }
}
h1 {
    font-size: 60px;
    margin-top: 0px;
}
h2, a {
    font-size: 30px;
}
p {
    font-size: 20px;
}
@media only screen and (max-width:991px) {
    h2, a {
        font-size: 20px;
    }
    .main {
        padding-top: 70px;
    }
}
@font-face {
    font-family: AgencyFB;
    src: url(../font/agency_fb.ttf);
    font-display: swap;
}

.imprint-button {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.imprint {
    color: white;
    width: 80%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10vw;
    position: relative;
}
.imprint a.back-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 22px;
}