body {
    margin: 0;
    background-color: black;
    min-height: 100vh;
}
.container {
    min-height: calc(100vh - 67px);
}
.main-logo {
    width: 160px; 
    margin: 50px 0 100px;
}
@media only screen and (max-width:991px) {
    .main-logo {
        width: 140px;
        margin: 40px 0 60px;
    }
}
h1, h2, h3, p, a {
    font-family: AgencyFB;
    color: white;
    margin: 0;
}
.event-link {
    height: 100%;
    width: 100%;
}
.event-card {
    /* position: relative; */
    width: 100%;
    aspect-ratio: 16/9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 250ms ease-in-out;
}
.event-link:hover .event-card {
    filter: blur(1px) brightness(0.6);
}
.event-link .logo {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 30px;
    left: 0;
    /* transform: translate(-50%, -50%); */
    transition: all 250ms ease-in-out;
    display: flex;
}
    .event-link .logo img {
        width: 60%;
        margin: auto;
        opacity: 0;
        transition: all 250ms ease-in-out;
    }
.event-link:hover .logo {
    top: 0;
    opacity: 1;
}
    .event-link:hover .logo img {
        opacity: 1;
    }
.card-1 {
    background-image: url(../img/homerun.jpg);
}
.card-2 {
    background-image: url(../img/seeliebe.jpg);
}
.card-3 {
    background-image: url(../img/kiesgrube.jpg);
}
@media only screen and (max-width: 991px) {
    .event-link .event-card {
        filter: brightness(0.8);
    }
    a.event-link .logo {
        top: 0;
        opacity: 1;
    }
        .event-link .logo img {
            opacity: 1;
        }
}
h1 {
    font-size: 60px;
    margin-top: 0px;
}
h2, a {
    font-size: 30px;
}
p {
    font-size: 20px;
}
@media only screen and (max-width:991px) {
    h2, a {
        font-size: 20px;
    }
    .main {
        padding-top: 70px;
    }
}
@font-face {
    font-family: AgencyFB;
    src: url(../font/agency_fb.ttf);
    font-display: swap;
}

.imprint {
    width: 100%;
    display: flex;
    padding: 20px 0;
}
.imprint .imprint-button {
    margin: auto;
    font-size: 22px;
}